# Ignore image and model files
*.png
*.pkl
*.keras
*.pt
*.mat

# Ignore Python cache, virtual environment, and data directories
__pycache__/
.venv/

# Ignore specific files
/data/NIR dataset/ValidationData.txt
/data/NIR dataset/CalibrationData.txt